.default {
  position: relative;
  padding: 0.5rem 1rem;

  background-color: transparent;
  color: inherit;

  text-transform: capitalize;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;

  border: none;
  outline: none;
}

.default[aria-pressed='true']::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.25rem;
  left: 0;
  bottom: 0;

  background-color: var(--color-blue);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
