.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
}

.taskList {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.taskItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
